*{
    background: linear-gradient(180deg, black, transparent);
    color: white;
}
.nav__logo{
    width: 150px;
    margin-left: 20px;
  }
.topNav{
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, black, transparent);
    z-index: 10;
    select{
      background: rgba(0,0,0,.4);
      border: 1px solid #aaa;
      color: #fff;
      font-size: .875rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 20px;
    }
  }
  .s1{
        background: linear-gradient(180deg, black, transparent);

    background-image: url('/bg.jpg');
    color: white;
    text-align: center;
    // margin-top: 50px;
    height: 600px;

  h2{
    padding-top: 15%;
    // font-size:40px;
    font-weight: bolder;
  }
 
}
h5{
  font-weight: bolder;
  color: white;
  font-size:30px;
  // padding: 5px;
font-family:Arial, Helvetica, sans-serif;
}
p{
  font-weight: bolder;

  color: white;
  // padding: 5px;

}
img{
  width: 100%;
  // height: 40%;

}

h3{
  margin-top: 50px;
  font-weight: bolder;
  color: white;

}




.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-size: 40px;
  font-weight: 500;
}

.que {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.que li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.que li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: '+';
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.que .content {
  background-color: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.que input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.que input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}




.footer {
  padding: 20px 15% 10px;
  border-top: 7px solid #333;
  color: #777;
}

.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.foot_col{
  margin: 20px;
 
}



